@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary : skyblue;
    --text-color : black;
    --padding-main : 5px;
    --text-align : center;
    --border : solid rgb(0, 0, 0, 0.2);
    }

nav {
background-color : skyblue;
padding : 5px;
color : skyblue;
display : flex;
justify-content : space-evenly;
align-items : center;
}

nav a {
    color : white;
    display : block;
    padding : var(--padding-main);
    font-weight : 600;
    font-size : 1rem;
    }

h1 {
color : black;
border-bottom : 1px solid;
font-size: 1.5rem;
}

main img {
    width : 150px;
    height : auto;
    border : skyblue 1px;
    padding : 2px;
    box-shadow : 0 0 30px gray;
    float : right;
    margin : 0 0 1rem 1rem;
    margin-top: 20px;
    }

p {
padding : 1rem;
}    

main aside {
    position : relative;
    width : 20em;
    margin : 1em;
    padding : 1em;
    background-color: skyblue;
    color : black;
    text-align : var(--text-align);
    }

aside img {
width : 260px;
height : auto;
}
aside h2 {
position : absolute;
left : 110px;
}
footer {
margin-top : 15px;
text-align : var(--text-align);
}
.box {
margin : 1rem;
padding : 1rem;
background-color: #ddd;
color : #000;
margin-top: 30px;
}

header, .grid, footer {
max-width : 840px;
margin : 0 auto;
}
.grid {
display : grid;
align-items : center;
}
main {
grid-column : 2 / 3;
margin : 1rem;
}
aside {
position : relative;
grid-column : 1 / 2;
grid-row : 1 / 2;
width : 20rem;
}    

