*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: roboto, Arial, sans-serif;
}

h1 {
    --heading-text-color: #333;
}

img {
    width: 1rem;
    height: 1rem;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
} 

main img {
    width: 150px;
    height: auto;
    border: 1px solid white;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    margin: 1rem;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* class selector */
.box {
    margin: 1rem;
    border: 1px solid white;
    padding: 2rem;
    background-color: rgb(235, 236, 238);
    color: black;
}

.indent {
    padding-left: 1rem;
}


